body{
  height: 100vh;
  background: linear-gradient(black, black, #6700AC);
  display: flex;
  justify-content: center;
  align-items: center;
}
.faixa1{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  width: 100vw;
  height: auto;
}
.texto1{
  margin-top:20px ;
  color: white; 
  font-size: 24px;
}
.texto1 p{
  display: inline-block;
  margin-right: 15px; 
}
.logo img{
  margin-top: 20px;
  margin-left: 90px;
  width: 78px;
  height: 78px;
}
.sino{
  margin-left: auto;
}
.spider h1{
  color: white;
  font-size: 128px;
  position: absolute;
  left: 0;
  transform: translate(10%, -180%);
}
.spider h2{
  color: black;
  font-size: 128px;
  position: absolute;
  left: 0;
  transform: translate(15%, -180%);
  text-shadow: 2px 2px 5px #FF0019;
  z-index: -2;
  
}
.man h1{
  color: white;
  font-size: 128px;
  position: absolute;
  left: 180px;
  transform: translate(230%, -150%);
}
.man h2{
  color: black;
  font-size: 128px;
  position: absolute;
  left: 180px;
  transform: translate(235%, -150%);
  text-shadow: 2px 2px 5px #FF0019;
  z-index: -2;
}
.man p{
  color: #FF0019;
  font-size: 80px;
  position: absolute;
  left: -190px;
  transform: translate(230%, -120%);
}


.faixa {
  background-color: #FF0019;
  width: 100vw;
  height: 371px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0; 
  align-items: center;
  padding: 0 25px; 
}
.circulos {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  gap: 25px; 
}

.circulo {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center   ;
}

.circulo img{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;
}
.data-diretor{
  display: flex;
  justify-content: space-between;
 
}

.atores {
  color: white;
  font-size: 24px; 
  margin: 10px; 
  padding-left: 67px;  
}

.caixa-diretor{
 
  color: white;
  font-size: 24px; 
  margin: 10px; 
  padding-left: 67px; 
}
.imob{
  color: white;
  font-size: 24px; 
  margin: 10px; 
  padding-left: 0px; 
}
.imob img{
  margin-top: 10px;
  width: 50px;
  height: 30px;
  transform: translate(-2%, 17%);
}
.ticket img{
  z-index: 1;
  width: 342px;
  height: auto;
  transform: translate(30%, 40%);

}
.spider-man img{
  z-index: 10;
  width: 716px;
  height: auto;
  transform: translate(-13%, 5%);
 
}
